<div
  class="flex flex-col @@if(context.gap){@@gap}@@if(!context.gap){gap-6 lg:gap-11} min-w-max"
>
  <p class="text-base font-normal text-secondary-grey-light">@@title</p>
  <nav aria-label="@@title navigation">
    <ul class="flex flex-col gap-3 leading-none">
      @@for (var i = 0; i < links.length; i++) {
      <li>
        <a
          href="@@links[i].href"
          class="text-15px text-secondary-grey-light font-normal hover:text-primary-lightblue transition-colors"
        >
          @@links[i].text
        </a>
      </li>
      }
    </ul>
  </nav>
</div>
