<a href="@@button.href"
    class="btn-group group overflow-hidden bg-white/8 border border-white/12 text-sm md:text-base font-medium text-primary-lightgrey py-1 pl-3 lg:pl-5 pr-1 inline-flex items-center gap-3 rounded-full transition-all duration-300">

    <!-- Text -->
    <span class="relative inline-block overflow-hidden mx-3 xl:mx-4">
        <span class="inline-block group-hover:translate-y-[-200%] transition-all duration-500 ease-in-out">
            @@button.text
        </span>
        <span
            class="absolute top-0 start-0 inline-block translate-y-[200%] group-hover:translate-y-0 transition-all duration-500 ease-in-out">
            @@button.text
        </span>
    </span>

    <!-- Icon Wrapper -->
    <span
        class="relative flex items-center justify-center size-10 rounded-full bg-primary-lightgrey group-hover:bg-secondary-grey transition-colors duration-500 overflow-hidden rtl:scale-x-[-1]">

        <!-- Expanding circle background -->
        <span class="absolute inset-0 m-auto size-0 transition-all bg-secondary-grey group-hover:size-10 rounded-full"></span>

        <!-- First icon (moves out to top-right) -->
        <i
            class="size-4 lg:size-4.5 flex items-center justify-center transition-all duration-500 group-hover:translate-x-full group-hover:-translate-y-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor"
                class="size-full text-secondary-grey">
                <path
                    d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z">
                </path>
            </svg>
        </i>

        <!-- Second icon (slides in from bottom-left) -->
        <i
            class="size-4.5 lg:size-5 absolute flex items-center justify-center -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0 transition-all duration-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor"
                class="size-full text-primary-lightgrey">
                <path
                    d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z">
                </path>
            </svg>
        </i>
    </span>
</a>
