@import "tailwindcss";

@source "../templates/**/*.html";
@source "../includes/**/*.html";

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700&display=swap");

@theme {
  --font-heading: "Exo", sans-serif;
  --font-body: "Inter", sans-serif;
  --color-primary-deepblue: #283a57;
  --color-primary-lightblue: #14b8e7;
  --color-primary-green: #709936;
  --color-primary-glowgreen: #8cd623;
  --color-primary-yellow: #d4ac39;
  --color-primary-lightgrey: #f5f6f6;

  --color-light: #ffffff;

  --font-size-xxs: 0.688rem/1.25rem;
}

@layer base {
  body {
    @apply font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .container {
    @apply max-w-[1536px] px-4 md:px-8 2xl:px-12 mx-auto w-full;
  }

  /* Headroom.js Styles */
  .headroom {
    will-change: transform;
    transition:
      transform 0.5s ease-in-out,
      background-color 0.5s ease-in-out;
  }

  .headroom--pinned {
    transform: translateY(0);
  }

  .headroom--unpinned {
    transform: translateY(-100%);
  }

  .headroom--not-top {
    @apply fixed text-black;
  }

  .headroom--not-top .group {
    @apply bg-white shadow-lg text-black;
  }

  /* Ensure logo changes when not at top */
  .headroom--not-top .group img[src*="logo-light"] {
    @apply hidden;
  }
  .headroom--not-top .group img[src*="logo-color"] {
    @apply block;
  }
}
