<div
  data-video="@@itemFeature.dataVideo"
  class="tab shrink-0 flex items-center cursor-pointer border-t-2 @@itemFeature.borderClass transition-colors duration-200 hover:border-primary-glowgreen max-w-62.5 gap-6 py-4.5 -mt-0.5 rounded-e-xs @@itemFeature.textClass"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="@@itemFeature.iconSize"
    height="@@itemFeature.iconSize"
    fill="currentColor"
    viewBox="0 0 256 256"
    class="shrink-0"
  >
    <path d="@@itemFeature.iconPath"></path>
  </svg>
  <p data-i18n="@@itemFeature.i18nKey">@@itemFeature.text</p>
</div>
