<li
  data-target="@@itemFeature.target"
  class="tab shrink-0 flex items-center cursor-pointer border-t-2 border-transparent text-white/50 transition-colors duration-200 hover:border-primary-glowgreen max-w-64.5 gap-6 py-4.5 -mt-0.5 rounded-e-xs"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="@@itemFeature.iconSize"
    height="@@itemFeature.iconSize"
    fill="currentColor"
    viewBox="0 0 256 256"
    class="shrink-0"
  >
    <path d="@@itemFeature.iconPath"></path>
  </svg>
  <p data-i18n="@@itemFeature.i18nKey">@@itemFeature.text</p>
</li>
